.foot{
    height: 180px;
    width: 100%;
    background-color: #444;
}	
.foot_ul{
    display: flex;
}
.foot_ul_li{
    display: inline-block;
    width: 300px;
    /* border:1px solid green; */
    height: 180px;
    line-height: 20px;
    
}
.foot_ul_li p{
    font-size: 8px;
}